
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Trends of Olympic Medal Winners</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Trends of Olympic Medal Winners</h1>
        <p>The following plots show the trends of Olympic medal winners of ages, heights and weights. 
        They use Google Fusion Table for visualization.</p>                           
      </div>


<h2>Do Olympic medal winners become more and more younger?</h2>
<h4>Age vs. Year</h4>
<iframe width="750" height="450" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=LINE_AGGREGATE&amp;isXyPlot=true&amp;bsize=0.0&amp;q=select+col9%2C+col3+from+1RYpzYZavgCONoIFJ9OvdecJRbtepSnYf9tKJGD11+where+col14+in+(&#39;Bronze&#39;%2C+&#39;Gold&#39;%2C+&#39;Silver&#39;)+and+col10+%3D+&#39;Summer&#39;+and+col5+%3E%3D+0+and+col4+%3E%3D+0&amp;qrs=+and+col9+%3E%3D+&amp;qre=+and+col9+%3C%3D+&amp;qe=+order+by+col9+asc&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=750&amp;height=450"></iframe>
<p>No. Olympic medal winners become older and older.</p>

<h2>Do the heights of Olympic medal winners change over years?</h2>
<h4>Height vs. Year</h4>
<iframe width="750" height="450" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=LINE_AGGREGATE&amp;isXyPlot=true&amp;bsize=0.0&amp;q=select+col9%2C+col4+from+1RYpzYZavgCONoIFJ9OvdecJRbtepSnYf9tKJGD11+where+col14+in+(&#39;Bronze&#39;%2C+&#39;Gold&#39;%2C+&#39;Silver&#39;)+and+col10+%3D+&#39;Summer&#39;+and+col5+%3E%3D+0+and+col4+%3E%3D+0&amp;qrs=+and+col9+%3E%3D+&amp;qre=+and+col9+%3C%3D+&amp;qe=+order+by+col9+asc&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=750&amp;height=450"></iframe>
<p>No. The heights of Olympic medal winners stay relatively unchanged.</p>

<h2>Do the weights of Olympic medal winners change over years?</h2>
<h4>Weight vs. Year</h4>
<iframe width="750" height="450" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=LINE_AGGREGATE&amp;isXyPlot=true&amp;bsize=0.0&amp;q=select+col9%2C+col5+from+1RYpzYZavgCONoIFJ9OvdecJRbtepSnYf9tKJGD11+where+col14+in+(&#39;Bronze&#39;%2C+&#39;Gold&#39;%2C+&#39;Silver&#39;)+and+col10+%3D+&#39;Summer&#39;+and+col5+%3E%3D+0+and+col4+%3E%3D+0&amp;qrs=+and+col9+%3E%3D+&amp;qre=+and+col9+%3C%3D+&amp;qe=+order+by+col9+asc&amp;uiversion=2&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=750&amp;height=450"></iframe>
<p>No. The weights of Olympic medal winners stay relatively unchanged.</p>

      </div> <!-- /page-header -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
